BEGIN;

-- 1. Invoices table
-- One invoice belongs to exactly one route.
-- Unique(route_id) enforces: one route can have only one invoice.
CREATE TABLE invoices (
    id              BIGSERIAL PRIMARY KEY,
    route_id        BIGINT NOT NULL,
    invoice_number  TEXT NOT NULL,
    issued_at       TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    total_amount    NUMERIC(12, 2) NOT NULL DEFAULT 0,
    notes           TEXT,

    CONSTRAINT invoices_route_id_fkey
        FOREIGN KEY (route_id)
        REFERENCES routes (id)
        ON DELETE CASCADE,

    -- This enforces "Route can have only one Work Invoice"
    CONSTRAINT invoices_route_id_unique
        UNIQUE (route_id)
);

-- 2. Works table
-- Each work is related to a route.
-- Optionally, work can be attached to an invoice.
-- One invoice can have many works (works.invoice_id -> invoices.id).
CREATE TABLE works (
    id              BIGSERIAL PRIMARY KEY,
    route_id        BIGINT NOT NULL,
    invoice_id      BIGINT,            -- nullable: work may be not invoiced yet
    name            TEXT NOT NULL,     -- e.g. "Dig trench", "Install pump"
    description     TEXT,
    quantity        INTEGER NOT NULL DEFAULT 1,
    unit_price      NUMERIC(12, 2) NOT NULL DEFAULT 0,
    created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW(),

    CONSTRAINT works_route_id_fkey
        FOREIGN KEY (route_id)
        REFERENCES routes (id)
        ON DELETE CASCADE,

    CONSTRAINT works_invoice_id_fkey
        FOREIGN KEY (invoice_id)
        REFERENCES invoices (id)
        ON DELETE SET NULL
);

COMMIT;
