--
-- PostgreSQL database dump
--

\restrict r0NafEgx8lUq73Rr8hw2c73PD8mGyygOmmFS2BxMWqzNbnD8yq7vgzFIwTTOJkY

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brigades; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.brigades (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
);


ALTER TABLE public.brigades OWNER TO aqua_user;

--
-- Name: brigades_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.brigades_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.brigades_id_seq OWNER TO aqua_user;

--
-- Name: brigades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.brigades_id_seq OWNED BY public.brigades.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    address text NOT NULL,
    email character varying(255) NOT NULL,
    phone bigint NOT NULL
);


ALTER TABLE public.clients OWNER TO aqua_user;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clients_id_seq OWNER TO aqua_user;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.locations (
    id bigint NOT NULL,
    client_id integer NOT NULL,
    name text NOT NULL,
    location character varying(255) NOT NULL,
    address character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone bigint NOT NULL,
    new_column bigint NOT NULL,
    latitude NUMERIC(9, 6),
    longitude NUMERIC(9, 6),
    description TEXT
);


ALTER TABLE public.locations OWNER TO aqua_user;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locations_id_seq OWNER TO aqua_user;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    role character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO aqua_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO aqua_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO aqua_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO aqua_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: workers; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.workers (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.workers OWNER TO aqua_user;

--
-- Name: workers_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.workers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workers_id_seq OWNER TO aqua_user;

--
-- Name: workers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.workers_id_seq OWNED BY public.workers.id;


--
-- Name: brigades id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.brigades ALTER COLUMN id SET DEFAULT nextval('public.brigades_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: workers id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers ALTER COLUMN id SET DEFAULT nextval('public.workers_id_seq'::regclass);


--
-- Data for Name: brigades; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.brigades (id, name) FROM stdin;
1	brigade 1
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.clients (id, name, address, email, phone) FROM stdin;
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.locations (id, client_id, name, location, address, email, phone, new_column) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.roles (id, role) FROM stdin;
1	ADMIN
2	WORKER
3	BRIGADIER
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.users (id, name, email, created_at) FROM stdin;
1	Alice Johnson	alicejhonson141212@yopmail.com	2025-08-23 09:25:46.632764
2	Born Jovy	bornsmith131313@yopmail.com	2025-08-23 09:25:46.632764
\.


--
-- Data for Name: workers; Type: TABLE DATA; Schema: public; Owner: aqua_user
--



--
-- Name: brigades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.brigades_id_seq', 1, false);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.clients_id_seq', 1, false);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.locations_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: workers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.workers_id_seq', 1, false);


--
-- Name: brigades brigades_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.brigades
    ADD CONSTRAINT brigades_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_role_key; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_key UNIQUE (role);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workers workers_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers
    ADD CONSTRAINT workers_pkey PRIMARY KEY (id);


--
-- Name: locations locations_client_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_client_id_foreign FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: workers workers_brigade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--



--
-- Name: workers workers_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers
    ADD CONSTRAINT workers_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id);

    CREATE INDEX workers_role_id_idx
    ON public.workers (role_id);

--
-- Name: routes; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.routes (
    id integer NOT NULL,

    status_start_route boolean,

    start_location_id integer,
    start_point bigint,
    start_time date,

    end_location_id integer,
    end_point bigint,
    end_time date,

     brigade_id bigint not null
    references public.brigades(id) on delete restrict,

    description text,

    created_at date,
    updated_at date
);

ALTER TABLE public.routes OWNER TO aqua_user;

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER TABLE public.routes_id_seq OWNER TO aqua_user;

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: works; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.works (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    unit character varying(50),
    base_price numeric(12,2)
);

ALTER TABLE public.works OWNER TO aqua_user;

--
-- Name: works_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.works_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER TABLE public.works_id_seq OWNER TO aqua_user;

--
-- Name: works_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.works_id_seq OWNED BY public.works.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.work_invoices (
    id bigint NOT NULL,
    route_id bigint NOT NULL,
    invoice_date date NOT NULL,
    status character varying(50),
    comment text
);

ALTER TABLE public.work_invoices OWNER TO aqua_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.invoices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER TABLE public.invoices_id_seq OWNER TO aqua_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.work_invoices.id;


--
-- Name: invoice_items; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.work_invoice_items (
    id bigint NOT NULL,
    invoice_id bigint NOT NULL,
    work_id bigint NOT NULL,
    quantity numeric(12,3) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    total_price numeric(12,2)
);

ALTER TABLE public.work_invoice_items OWNER TO aqua_user;

--
-- Name: invoice_items_id_seq; Type: SEQUENCE; Schema: public; Owner: aqua_user
--

CREATE SEQUENCE public.work_invoice_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER TABLE public.work_invoice_items_id_seq OWNER TO aqua_user;

--
-- Name: invoice_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aqua_user
--

ALTER SEQUENCE public.work_invoice_items_id_seq OWNED BY public.work_invoice_items.id;


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.routes
    ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);

--
-- Name: works id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.works
    ALTER COLUMN id SET DEFAULT nextval('public.works_id_seq'::regclass);

--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoices
    ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);

--
-- Name: invoice_items id; Type: DEFAULT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoice_items
    ALTER COLUMN id SET DEFAULT nextval('public.work_invoice_items_id_seq'::regclass);


--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.routes (id, status_start_route, start_location_id, start_point, start_time, end_location_id, end_point, end_time, brigade_id, description, created_at, updated_at) FROM stdin;
\.

--
-- Data for Name: works; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.works (id, name, description, unit, base_price) FROM stdin;
\.

--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.work_invoices (id, route_id, invoice_date, status, comment) FROM stdin;
\.

--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

COPY public.work_invoice_items (id, invoice_id, work_id, quantity, unit_price, total_price) FROM stdin;
\.


--
-- Name: routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.routes_id_seq', 1, false);

--
-- Name: works_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.works_id_seq', 1, false);

--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.invoices_id_seq', 1, false);

--
-- Name: invoice_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aqua_user
--

SELECT pg_catalog.setval('public.work_invoice_items_id_seq', 1, false);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);

CREATE INDEX routes_start_location_id_idx
    ON public.routes (start_location_id);

CREATE INDEX routes_end_location_id_idx
    ON public.routes (end_location_id);

CREATE INDEX routes_brigadier_id_idx
    ON public.routes (brigade_id);
--
-- Name: works works_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_pkey PRIMARY KEY (id);

--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);

--
-- Name: invoices invoices_route_id_key; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoices
    ADD CONSTRAINT invoices_route_id_key UNIQUE (route_id);

--
-- Name: invoice_items invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoice_items
    ADD CONSTRAINT invoice_items_pkey PRIMARY KEY (id);


--
-- Name: routes routes_start_location_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_start_location_id_foreign FOREIGN KEY (start_location_id) REFERENCES public.locations(id);


--
-- Name: routes routes_end_location_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_end_location_id_foreign FOREIGN KEY (end_location_id) REFERENCES public.locations(id);


-- brigade
--
-- Name: invoices invoices_route_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoices
    ADD CONSTRAINT invoices_route_id_foreign FOREIGN KEY (route_id) REFERENCES public.routes(id);


--
-- Name: invoice_items invoice_items_invoice_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoice_items
    ADD CONSTRAINT invoice_items_invoice_id_foreign FOREIGN KEY (invoice_id) REFERENCES public.work_invoices(id);


--
-- Name: invoice_items invoice_items_work_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.work_invoice_items
    ADD CONSTRAINT invoice_items_work_id_foreign FOREIGN KEY (work_id) REFERENCES public.works(id);

    --
-- Name: workers_in_brigade; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE public.workers_in_brigade (
    brigade_id bigint NOT NULL,
    worker_id  bigint NOT NULL
);

ALTER TABLE public.workers_in_brigade OWNER TO aqua_user;

--
-- Name: workers_in_brigade workers_in_brigade_pkey; Type: CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers_in_brigade
    ADD CONSTRAINT workers_in_brigade_pkey PRIMARY KEY (brigade_id, worker_id);

--
-- Name: workers_in_brigade workers_in_brigade_brigade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers_in_brigade
    ADD CONSTRAINT workers_in_brigade_brigade_id_foreign
    FOREIGN KEY (brigade_id) REFERENCES public.brigades(id) ON DELETE CASCADE;

--
-- Name: workers_in_brigade workers_in_brigade_worker_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: aqua_user
--

ALTER TABLE ONLY public.workers_in_brigade
    ADD CONSTRAINT workers_in_brigade_worker_id_foreign
    FOREIGN KEY (worker_id) REFERENCES public.workers(id) ON DELETE CASCADE;

--
-- Indexes (recommended)
--

CREATE INDEX workers_in_brigade_worker_id_idx
    ON public.workers_in_brigade (worker_id);

CREATE INDEX workers_in_brigade_brigade_id_idx
    ON public.workers_in_brigade (brigade_id);

--
-- Name: clients_appsheet; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE IF NOT EXISTS public.clients_appsheet (
    id bigint GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    appsheet_row_number integer,
    appsheet_row_id text NOT NULL UNIQUE,
    client_code text NOT NULL UNIQUE,
    name text NOT NULL,
    city text,
    address text,
    location text,
    owner text,
    email text,
    phone text,
    contact_person text,
    distance_km numeric(10,2),
    total_project_value numeric(14,2) NOT NULL DEFAULT 0,
    total_paid numeric(14,2) NOT NULL DEFAULT 0,
    remaining_balance numeric(14,2) NOT NULL DEFAULT 0,
    projects_list_raw text,
    created_at timestamp without time zone NOT NULL DEFAULT now(),
    updated_at timestamp without time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.clients_appsheet OWNER TO aqua_user;

--
-- Name: clients_project; Type: TABLE; Schema: public; Owner: aqua_user
--

CREATE TABLE IF NOT EXISTS public.clients_project (
    id bigint GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    client_id bigint NOT NULL REFERENCES public.clients_appsheet(id) ON DELETE CASCADE,
    project_code text NOT NULL,
    created_at timestamp without time zone NOT NULL DEFAULT now(),
    UNIQUE (client_id, project_code)
);

ALTER TABLE public.clients_project OWNER TO aqua_user;

CREATE INDEX IF NOT EXISTS clients_project_code_idx
    ON public.clients_project (project_code);

--
-- Data for Name: clients_appsheet; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

INSERT INTO public.clients_appsheet (
    appsheet_row_number,
    appsheet_row_id,
    client_code,
    name,
    city,
    address,
    location,
    owner,
    email,
    phone,
    contact_person,
    distance_km,
    total_project_value,
    total_paid,
    remaining_balance,
    projects_list_raw
)
VALUES
(
    1,
    'cVcFgbhc4U4Cy9CDPpgT60',
    'e4b53fe4',
    'Склад',
    'Львів',
    'Галіція',
    '49.789297, 23.943257',
    'Григорій',
    'aquacentrlv@gmail.com',
    '+380677078663',
    'Григорій',
    8,
    0,
    0,
    0,
    'PR-20260226-293 , PR-20260305-505 , PR-20260305-852 , PR-20260311-795 , PR-20260311-964 , PR-20260312-944 , PR-20260316-789 , PR-20260316-710 , PR-20260317-497 , PR-20260317-128 , PR-20260318-980 , PR-20260318-912 , PR-20260318-887 , PR-20260319-846 , PR-20260319-878 , PR-20260319-752 , PR-20260326-456 , PR-20260327-255 , PR-20260327-173 , PR-20260327-345 , PR-20260330-150 , PR-20260330-104 , PR-20260401-397 , PR-20260402-101 , PR-20260402-777 , PR-20260406-474 , PR-20260408-404 , PR-20260409-535 , PR-20260410-433 , PR-20260415-183 , PR-20260415-894 , PR-20260416-491 , PR-20260417-144'
),
(
    2,
    '8_b8F_EE-T4oEWkIbz9Dye',
    'e4b53fee',
    'Брюховичі Коновальця',
    'Брюховичі',
    'смт Брюховичі, вул Коновальця',
    '49.891427, 23.951097',
    'Орест',
    '',
    '+380675551557',
    'Богдан',
    35,
    0,
    0,
    0,
    'PR-20260226-293 , PR-20260305-505 , PR-20260305-852 , PR-20260311-795 , PR-20260311-964 , PR-20260312-944 , PR-20260316-789 , PR-20260316-710 , PR-20260317-497 , PR-20260317-128 , PR-20260318-980 , PR-20260318-912 , PR-20260318-887 , PR-20260319-846 , PR-20260319-878 , PR-20260319-752 , PR-20260326-456 , PR-20260327-255 , PR-20260327-173 , PR-20260327-345 , PR-20260330-150 , PR-20260330-104 , PR-20260401-397 , PR-20260402-101 , PR-20260402-777 , PR-20260406-474 , PR-20260408-404 , PR-20260409-535 , PR-20260410-433 , PR-20260415-183 , PR-20260415-894 , PR-20260416-491 , PR-20260417-144'
),
(
    3,
    'ri4cEceQa74XYJ7rUP03N5',
    '7cad825c',
    'Брюховичі Дюни1',
    'Брюховичі',
    'смт Брюховичі, вулю Львівська',
    '49.907701, 23.967905',
    'Волков Павло Віталіович',
    '',
    '+380676747777',
    '',
    35,
    19497.82,
    19498,
    -0.18,
    'PR-20260226-293 , PR-20260305-505 , PR-20260305-852 , PR-20260311-795 , PR-20260311-964 , PR-20260312-944 , PR-20260316-789 , PR-20260316-710 , PR-20260317-497 , PR-20260317-128 , PR-20260318-980 , PR-20260318-912 , PR-20260318-887 , PR-20260319-846 , PR-20260319-878 , PR-20260319-752 , PR-20260326-456 , PR-20260327-255 , PR-20260327-173 , PR-20260327-345 , PR-20260330-150 , PR-20260330-104 , PR-20260401-397 , PR-20260402-101 , PR-20260402-777 , PR-20260406-474 , PR-20260408-404 , PR-20260409-535 , PR-20260410-433 , PR-20260415-183 , PR-20260415-894 , PR-20260416-491 , PR-20260417-144'
),
(
    4,
    'Ux4Y_6z5s_4IaHAeXZbYO6',
    'b9a151e2',
    'Брюховичі Андрій',
    'Брюховичі',
    'смт Брюховичі, вул. Львівська',
    '49.908957, 23.966752',
    'Король Андрій',
    '',
    '+380503174119',
    '',
    35,
    0,
    0,
    0,
    'PR-20260226-293 , PR-20260305-505 , PR-20260305-852 , PR-20260311-795 , PR-20260311-964 , PR-20260312-944 , PR-20260316-789 , PR-20260316-710 , PR-20260317-497 , PR-20260317-128 , PR-20260318-980 , PR-20260318-912 , PR-20260318-887 , PR-20260319-846 , PR-20260319-878 , PR-20260319-752 , PR-20260326-456 , PR-20260327-255 , PR-20260327-173 , PR-20260327-345 , PR-20260330-150 , PR-20260330-104 , PR-20260401-397 , PR-20260402-101 , PR-20260402-777 , PR-20260406-474 , PR-20260408-404 , PR-20260409-535 , PR-20260410-433 , PR-20260415-183 , PR-20260415-894 , PR-20260416-491 , PR-20260417-144'
),
(
    5,
    'kCrWQqzrGc4Y2dQxNcJQQ4',
    '0e2c64db',
    'Брюховичі Дюни 2',
    'Брюховичі',
    '',
    '49.907785, 23.966787',
    'Волков Роман',
    '',
    '+380976227777',
    '',
    35,
    0,
    0,
    0,
    'PR-20260226-293 , PR-20260305-505 , PR-20260305-852 , PR-20260311-795 , PR-20260311-964 , PR-20260312-944 , PR-20260316-789 , PR-20260316-710 , PR-20260317-497 , PR-20260317-128 , PR-20260318-980 , PR-20260318-912 , PR-20260318-887 , PR-20260319-846 , PR-20260319-878 , PR-20260319-752 , PR-20260326-456 , PR-20260327-255 , PR-20260327-173 , PR-20260327-345 , PR-20260330-150 , PR-20260330-104 , PR-20260401-397 , PR-20260402-101 , PR-20260402-777 , PR-20260406-474 , PR-20260408-404 , PR-20260409-535 , PR-20260410-433 , PR-20260415-183 , PR-20260415-894 , PR-20260416-491 , PR-20260417-144'
)
ON CONFLICT (client_code) DO UPDATE
SET
    appsheet_row_number = EXCLUDED.appsheet_row_number,
    appsheet_row_id = EXCLUDED.appsheet_row_id,
    name = EXCLUDED.name,
    city = EXCLUDED.city,
    address = EXCLUDED.address,
    location = EXCLUDED.location,
    owner = EXCLUDED.owner,
    email = EXCLUDED.email,
    phone = EXCLUDED.phone,
    contact_person = EXCLUDED.contact_person,
    distance_km = EXCLUDED.distance_km,
    total_project_value = EXCLUDED.total_project_value,
    total_paid = EXCLUDED.total_paid,
    remaining_balance = EXCLUDED.remaining_balance,
    projects_list_raw = EXCLUDED.projects_list_raw,
    updated_at = now();

--
-- Data for Name: clients_project; Type: TABLE DATA; Schema: public; Owner: aqua_user
--

INSERT INTO public.clients_project (client_id, project_code)
SELECT
    c.id,
    trim(p.project_code) AS project_code
FROM public.clients_appsheet c
CROSS JOIN LATERAL regexp_split_to_table(coalesce(c.projects_list_raw, ''), ',') AS p(project_code)
WHERE trim(p.project_code) <> ''
ON CONFLICT (client_id, project_code) DO NOTHING;


--
-- PostgreSQL database dump complete
--

\unrestrict r0NafEgx8lUq73Rr8hw2c73PD8mGyygOmmFS2BxMWqzNbnD8yq7vgzFIwTTOJkY

