@import "tailwindcss";
/* @import "modern-normalize";
@import "the-new-css-reset"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../shared/assets/fonts/PlusJakartaSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../shared/assets/fonts/PlusJakartaSans-Bold.ttf");
  font-weight: bold;
}

body, html, #root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  > div{
    display: flex;
    width: 100%;
  }
}

.ant-tabs-nav {
  margin-bottom: 8px !important;
}

.ant-menu-item {
  height: auto !important;
}

.ant-menu-submenu-title {
  height: auto !important;
}
